<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ganway.hr.dao.ICandidateDao">
	<resultMap id="BaseResultMap" type="com.ganway.hr.vo.Candidate">
			<id column="id" property="id" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="VARCHAR" />
		<result column="date_of_birth" property="date_of_birth"
			jdbcType="DATE" />
		<result column="height" property="height" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="VARCHAR" />
		<result column="nativeStr" property="native" jdbcType="VARCHAR" />
		<result column="politics" property="politics" jdbcType="VARCHAR" />
		<result column="marriage" property="marriage" jdbcType="VARCHAR" />
		<result column="escuage" property="escuage" jdbcType="VARCHAR" />
		<result column="licensetype" property="licensetype" jdbcType="VARCHAR" />
		<result column="licenselocation" property="licenselocation"
			jdbcType="VARCHAR" />
		<result column="licensevaliddate" property="licensevaliddate"
			jdbcType="DATE" />
		<result column="drivingex" property="drivingex" jdbcType="VARCHAR" />
		<result column="cartype" property="cartype" jdbcType="VARCHAR" />
		<result column="isworklicense" property="isworklicense"
			jdbcType="VARCHAR" />
		<result column="worklicensevaliddate" property="worklicensevaliddate"
			jdbcType="VARCHAR" />
		<result column="familyphone" property="familyphone" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
		<result column="birthcode" property="birthcode" jdbcType="VARCHAR" />
		<result column="residence" property="residence" jdbcType="VARCHAR" />
		<result column="residencecode" property="residencecode"
			jdbcType="VARCHAR" />
		<result column="iceperson" property="iceperson" jdbcType="VARCHAR" />
		<result column="relation" property="relation" jdbcType="VARCHAR" />
		<result column="icepersonphone" property="icepersonphone"
			jdbcType="VARCHAR" />
		<result column="iscomputer" property="iscomputer" jdbcType="VARCHAR" />
		<result column="proskill" property="proskill" jdbcType="VARCHAR" />
		<result column="otherskill" property="otherskill" jdbcType="VARCHAR" />
		<result column="interest" property="interest" jdbcType="VARCHAR" />
		<result column="ispeccancy" property="ispeccancy" jdbcType="VARCHAR" />
		<result column="beillegal" property="beillegal" jdbcType="VARCHAR" />
		<result column="retire" property="retire" jdbcType="VARCHAR" />
		<result column="tranlocation" property="tranlocation" jdbcType="VARCHAR" />
		<result column="reason1" property="reason1" jdbcType="VARCHAR" />
		<result column="tranpost" property="tranpost" jdbcType="VARCHAR" />
		<result column="reason2" property="reason2" jdbcType="VARCHAR" />
		<result column="tranlocation1year" property="tranlocation1year"
			jdbcType="VARCHAR" />
		<result column="reason3" property="reason3" jdbcType="VARCHAR" />
		<result column="updatetime" property="updatetime" jdbcType="DATE" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="batch_date" property="batch_date" jdbcType="DATE" />
		<result column="deleted" property="deleted" jdbcType="VARCHAR" />
		<result column="cre_pro_id" property="cre_pro_id" jdbcType="VARCHAR" />
		<result column="created_by" property="created_by" jdbcType="VARCHAR" />
		<result column="created_date" property="created_date" jdbcType="DATE" />
		<result column="mod_pro_id" property="mod_pro_id" jdbcType="VARCHAR" />
		<result column="last_modified_by" property="last_modified_by"
			jdbcType="VARCHAR" />
		<result column="last_modified_date" property="last_modified_date"
			jdbcType="DATE" />
		<result column="post" property="post" jdbcType="VARCHAR" />
		<result column="applicationArea" property="applicationArea" jdbcType="VARCHAR" />
		<result column="workDate" property="workDate" jdbcType="DATE" />
		<result column="exp_salary" property="exp_salary" jdbcType="VARCHAR" />
		<result column="channel" property="channel"
			jdbcType="VARCHAR" />
		<result column="employeecode" property="employeecode"
			jdbcType="VARCHAR" />
		
			
			
			
			
	</resultMap>

	<sql id="Base_Column_List">
		id,name,sex,num,date_of_birth,height,weight,native,politics,marriage,escuage,licensetype,licenselocation,licensevaliddate,drivingex,cartype,isworklicense,worklicensevaliddate,familyphone,phone,email,birthplace,birthcode,residence,residencecode,iceperson,relation,icepersonphone,iscomputer,proskill,otherskill,interest,ispeccancy,beillegal,retire,tranlocation,reason1,tranpost,reason2,tranlocation1year,reason3,updatetime,status,batch_date,deleted,cre_pro_id,created_by,created_date,mod_pro_id,last_modified_by,last_modified_date,post,applicationArea,exp_salary,workDate,channel,employeecode
	</sql>

	  <!-- 查询用户-->  
    <select id="getAllCandidate" resultMap="BaseResultMap">  
        select  
        <include refid="Base_Column_List" />  
        from tb_basic  
    </select> 

	<!-- 插入求职者基本信息 -->
	<insert id="insertCandidateBasic" parameterType="com.ganway.hr.vo.Candidate">
		insert into tb_basic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
				</if>
			<if test="name != null">
				name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="num != null">
				num,
			</if>
			date_of_birth,height,weight,native,politics,marriage,escuage,licensetype,licenselocation,licensevaliddate,drivingex,cartype,isworklicense,worklicensevaliddate,familyphone,phone,email,birthplace,birthcode,residence,residencecode,iceperson,relation,icepersonphone,iscomputer,proskill,otherskill,interest,ispeccancy,beillegal,retire,tranlocation,reason1,tranpost,reason2,tranlocation1year,reason3,updatetime,status,batch_date,deleted,cre_pro_id,created_by,created_date,mod_pro_id,last_modified_by,last_modified_date,post,applicationArea,exp_salary,workDate,channel,employeecode

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="sex != null">
				#{sex},
			</if>
			<if test="num != null">
				#{num},
			</if>
			#{date_of_birth},
#{height},
#{weight},
#{nativeStr},
#{politics},
#{marriage},
#{escuage},
#{licensetype},
#{licenselocation},
#{licensevaliddate},
#{drivingex},
#{cartype},
#{isworklicense},
#{worklicensevaliddate},
#{familyphone},
#{phone},
#{email},
#{birthplace},
#{birthcode},
#{residence},
#{residencecode},
#{iceperson},
#{relation},
#{icepersonphone},
#{iscomputer},
#{proskill},
#{otherskill},
#{interest},
#{ispeccancy},
#{beillegal},
#{retire},
#{tranlocation},
#{reason1},
#{tranpost},
#{reason2},
#{tranlocation1year},
#{reason3},
#{updatetime},
#{status},
#{batch_date},
#{deleted},
#{cre_pro_id},
#{created_by},
CURDATE(),
#{mod_pro_id},
#{last_modified_by},
CURDATE(),
#{post},
#{applicationArea},
#{exp_salary},
#{workDate},
#{channel},
#{employeecode}
			
		</trim>
	</insert>
	
	
	<!-- 插入家庭成员 -->
	<insert id="insertCandidateFamily" parameterType="com.ganway.hr.vo.Candidate">
		insert into tb_family
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
				name,
				relation,
				age,
				residence,
				company,
				post

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
				#{family_name,jdbcType=VARCHAR},
				#{family_relation,jdbcType=VARCHAR},
				#{family_age,jdbcType=VARCHAR},
				#{family_residence,jdbcType=VARCHAR},
				#{family_company,jdbcType=VARCHAR},
				#{family_post,jdbcType=VARCHAR},
			
		</trim>
	</insert>
	
	
	<!-- 插入求职者教育信息-->
	<insert id="insertCandidateEducation" parameterType="com.ganway.hr.vo.TbEducation">
		insert into TB_EDUCATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
				beginDate,
				endDate,
				school,
				profession,
				education,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
				#{edu_begindate,jdbcType=VARCHAR},
				#{edu_enddate,jdbcType=VARCHAR},
				#{edu_student,jdbcType=VARCHAR},
				#{edu_profession,jdbcType=VARCHAR},
				#{edu_education,jdbcType=VARCHAR},
			
		</trim>
	</insert>
	
	<!-- 插入求职者 工作信息 -->
	<insert id="insertCandidateCompany" parameterType="com.ganway.hr.vo.TbCompany">
		insert into TB_COMPANY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
				</if>
				beginDate,
				endDate,
				company,
				Post,
				salary,
				reason,
				reterence,
				phone,
			
		

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
				#{com_begindate,jdbcType=VARCHAR},
				#{com_enddate,jdbcType=VARCHAR},
				#{com_company,jdbcType=VARCHAR},
				#{com_post,jdbcType=VARCHAR},
				#{com_salary,jdbcType=VARCHAR},
				#{com_reason,jdbcType=VARCHAR},
				#{com_reterence,jdbcType=VARCHAR},
				#{com_phone,jdbcType=VARCHAR},
			
			
		</trim>
	</insert>
	
	
	

	

	<!-- 更新用户 -->
	<update id="updateByPrimaryKey" parameterType="com.ganway.hr.vo.Candidate">
		update tb_basic
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=VARCHAR},
			</if>
			
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	
	<select id="queryBasic" parameterType="com.ganway.hr.vo.SelectPara" resultType="com.ganway.hr.vo.Candidate">
	
		select  
        <include refid="Base_Column_List" />  
        from tb_basic
        where deleted = '1'
        <if test="status != null">
         and  status=#{status,jdbcType=VARCHAR}
        </if>
        	<if test="name != null">
        	 and name = #{name,jdbcType=VARCHAR}
        	</if>
        	<if test="employeecode != null">
        	 and employeecode = #{employeecode,jdbcType=VARCHAR}
        	</if>
        	<if test="sex1 != null">
        	 and sex = #{sex1,jdbcType=VARCHAR}        	 
        	</if>
        	<if test="sex2 != null">
        	 or sex = #{sex2,jdbcType=VARCHAR}        	 
        	</if>
        	<if test="applicationArea != null">
        	 and applicationArea = #{applicationArea,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage1 != null">
        	 and marriage = #{marriage1,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage2 != null">
        	 or marriage = #{marriage2,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage3 != null">
        	 or marriage = #{marriage3,jdbcType=VARCHAR}
        	</if>
        	<if test="post != null">
        	 and post = #{post,jdbcType=VARCHAR}
        	</if>
        	<if test="birthStart != null">
        	 and   date_of_birth <![CDATA[>]]>= #{birthStart,jdbcType=DATE}
        	</if>
        	<if test="birthEnd != null">
        	 and date_of_birth <![CDATA[<]]>= #{birthEnd,jdbcType=DATE}
        	</if>
        	<if test="createStart != null">
        	 and created_date <![CDATA[>]]>=#{createStart,jdbcType=DATE}
        	</if>
        	<if test="createEnd != null">
        	 and created_date <![CDATA[<]]> = #{createEnd,jdbcType=DATE}
        	</if>
        	limit #{start},#{pageSize}
	
	</select>
	
	<select id="countBasic" parameterType="com.ganway.hr.vo.SelectPara" resultType="Integer">
	    select count(*) from tb_basic
	    where deleted = '1' 
	    
        	<if test="status != null">
         and  status=#{status,jdbcType=VARCHAR}
        </if>
        	<if test="name != null">
        	 and name = #{name,jdbcType=VARCHAR}
        	</if>
        	<if test="employeecode != null">
        	 and employeecode = #{employeecode,jdbcType=VARCHAR}
        	</if>
        	<if test="sex1 != null">
        	 and sex = #{sex1,jdbcType=VARCHAR}        	 
        	</if>
        	<if test="sex2 != null">
        	 or sex = #{sex2,jdbcType=VARCHAR}        	 
        	</if>
        	<if test="applicationArea != null">
        	 and applicationArea = #{applicationArea,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage1 != null">
        	 and marriage = #{marriage1,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage2 != null">
        	 or marriage = #{marriage2,jdbcType=VARCHAR}
        	</if>
        	<if test="marriage3 != null">
        	 or marriage = #{marriage3,jdbcType=VARCHAR}
        	</if>
        	<if test="post != null">
        	 and post = #{post,jdbcType=VARCHAR}
        	</if>
        	<if test="birthStart != null">
        	 and   date_of_birth <![CDATA[>]]> = #{birthStart,jdbcType=DATE}
        	</if>
        	<if test="birthEnd != null">
        	 and date_of_birth <![CDATA[<]]> = #{birthEnd,jdbcType=DATE}
        	</if>
        	<if test="createStart != null">
        	 and created_date <![CDATA[>]]> =#{createStart,jdbcType=DATE}
        	</if>
        	<if test="createEnd != null">
        	 and created_date <![CDATA[<]]> = #{createEnd,jdbcType=DATE}
        	</if>
  	</select>
	
	<select id="queryByBasicId" parameterType="String" resultType="com.ganway.hr.vo.Candidate">
		select  
        <include refid="Base_Column_List" />  
        from tb_basic
        where employeecode = #{employeecode,jdbcType=VARCHAR}
	</select>

</mapper>  